<div class="container mb-5 mt-4">
    <div class="card border-info mb-3 rounded-0 shadow">
        <div class="card-header" style="background-color: #e6e6e6">
            <h3 class="row justify-content-center">Student Details</h3>
        </div>
        <div class="card-body font-weight-bold" style="background-color: #F7F7F7">
            <form class="mt-3">
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="lastName">First Name</label>
                        <input type="text" class="form-control" id="firstName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="studentID">Student ID</label>
                        <input type="text" class="form-control" id="studentID">
                    </div>
                   
                    <div class="form-group col-md-6">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender">
                            <option>Male</option>
                            <option>female</option>
                            <option>other</option>
                        </select>
                    </div>
                   
                    <div class="form-group col-md-6">
                        <label for="birth">Date of Birth</label>
                        <input type="text" class="form-control" id="birth">
                    </div>



                    <div class="form-group col-md-6">
                        <label for="email">NIC</label>
                        <input type="text" class="form-control" id="nationalID">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="email">Mobile</label>
                        <input type="text" class="form-control" id="mobile">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="email">Address</label>
                        <input type="text" class="form-control" id="address">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="course">Course</label>
                        <select class="form-control" id="course">
                            <option>HNDIT</option>
                            <option>HNDE</option>
                            <option>HNDM</option>
                            <option>HNDTM</option>
                            <option>HNDA</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="batch">Batch</label>
                        <select class="form-control" id="batch">
                            <option>16/17 part time</option>
                            <option>16/17 full time</option>
                            <option>17/18 part time</option>
                            <option>17/18 full time</option>
                            <option>18/19 part time</option>
                        </select>
                    </div>

                </div>

                <button type="submit" class="btn btn-success font-weight-bold col-md-2">Add</button>
            </form>
        </div>
    </div>
</div>