<div class="container mb-5 mt-2">
  <div class="card border-info mb-3 rounded-0 shadow">
    <div class="card-header" style="background-color: #e6e6e6">
      <h3 class="row justify-content-center">All Students</h3>
    </div>
    <div class="card-body" style="background-color: #F7F7F7">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Student ID</th>
            <th scope="col">Name</th>
            <th scope="col">Course</th>
            <th scope="col">Batch</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>D001</td>
            <td>Hiruni Rashmika</td>
            <td>IT</td>
            <td>Sample Data1</td>
            <td class="text-right">
              <button type="button" class="btn btn-primary btn-sm mr-2 font-weight-bold">Edit</button>
              <button type="button" class="btn btn-danger btn-sm mr-2 font-weight-bold">Delete</button>
              <button type="button" class="btn btn-secondary btn-sm font-weight-bold" data-toggle="modal"
                data-target="#exampleModal">
                View
              </button>
            </td>
          </tr>

        </tbody>

      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-backdrop="false"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Student Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <h6>First Name: </h6>
        <h6>Last Name: </h6>
        <h6>Index No: </h6>
        <h6>Couse: </h6>
        <h6>Gender: </h6>
        <h6>Birth of Date: </h6>
        <h6>NIC: </h6>
        <h6>Mobile: </h6>
        <h6>Email: </h6>
        <h6>Address: </h6>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>