<!-- <div class="card" style="width: 700px; margin-top: 100px; margin-left: 425px;"> -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="row justify-content-center">
                        Log in
                    </h5>
                </div>
                <div class="card-body justify-content-center">

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" id="password">
                        </div>
                    </div>

                    <!-- <a type="submit" class="btn btn-success font-weight-bold btn-block">Log in</a> -->
                    <a routerLink='' class="btn btn-success font-weight-bold btn-block">Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>