<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" id="mySideNav">

        <div class="text-center">
            <h5 class="mt-3 mb-3">Student Mgt</h5>
        </div>
        <a routerLink='/students' type="button" class="btn btn-primary btn-block rounded-0">All Students</a>
        <a routerLink='/students/add' type="button" class="btn btn-primary btn-block rounded-0 mt-0">Add Student</a>
        <a routerLink='/students/update' type="button" class="btn btn-primary btn-block rounded-0 mt-0">Update Student</a>
        <a routerLink='/login' type="button" class="btn btn-primary btn-block rounded-0 mt-0">Log out</a>

    </mat-sidenav>

    <mat-sidenav-content>

        <div class="row justify-content-left m-0 pb-4 p-3"
            style="width: 100%; background-color: #006699; height: 55px;">
            <a (click)="sidenav.toggle()" style="cursor: pointer;" class="text-light"><i class="fa fa-bars text-light"
                    style="font-size: 20px;"></i></a>
        </div>

        <div class="p-3">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>